section.expanding 
    .container 
        h2 Расширяем возможности
        p.numbers 1/000/888
        .nav-expanding 
            a(href="").active Инвестору 
            a(href="") Топ-менеджеру
            a(href="") Фин. консультанту, <br>брокеру
            a(href="") Предпринимателю
            a(href="") Лицам, стремящимся <br>к фин. независимости
            a(href="") Студенту
        .blocks 
            .block 
                ul 
                    li Симулятор инвестора для поддержки своих навыков переговорщика и инвестора в тонусе
                    li Тренировка с новыми инструментами без риска
                    li Поиск альтернативных инвест. стратегий
                    li Качественный нетворкинг и клуб инвесторов для совместных инвестиций
                    li Инсайты и опыт через проживание различных сценариев
                    li Интеллектуальный драйв
                    li Новые механики переговоров, понимание своих точек ростаa
                    li Внушительный призовой фонд
                    
                    
                    
                    