section.expanding 
    .container 
        h2 Расширяем возможности
        p.numbers 1/000/888
        .nav-expanding.btn__switch__wrapper
            button.btn__tab__switch.active(target="1") Инвестору 
            button.btn__tab__switch(target="2") Топ-менеджеру
            button.btn__tab__switch(target="3") Фин. консультанту, <br>брокеру
            button.btn__tab__switch(target="4") Предпринимателю
            button.btn__tab__switch(target="5") Лицам, стремящимся <br>к фин. независимости
            button.btn__tab__switch(target="6") Студенту
        .blocks.tab__viewer 
            .block.tab.active(tab-name="1") 
                ul 
                    li Симулятор инвестора для поддержки своих навыков переговорщика и инвестора в тонусе
                    li Тренировка с новыми инструментами без риска
                    li Поиск альтернативных инвест. стратегий
                    li Качественный нетворкинг и клуб инвесторов для совместных инвестиций
                    li Инсайты и опыт через проживание различных сценариев
                    li Интеллектуальный драйв
                    li Новые механики переговоров, понимание своих точек ростаa
                    li Внушительный призовой фонд
            .block.tab(tab-name="2") 
                ul 
                    li Симулятор инвестора для поддержки своих навыков переговорщика и инвестора в тонусе
                    li Тренировка с новыми инструментами без риска
                    li Поиск альтернативных инвест. стратегий
                    li Качественный нетворкинг и клуб инвесторов для совместных инвестиций
                    li Инсайты и опыт через проживание различных сценариев
                    li Интеллектуальный драйв
                    li Новые механики переговоров, понимание своих точек ростаa
                    li Внушительный призовой фонд
            .block.tab(tab-name="3") 
                ul 
                    li Симулятор инвестора для поддержки своих навыков переговорщика и инвестора в тонусе
                    li Тренировка с новыми инструментами без риска
                    li Поиск альтернативных инвест. стратегий
                    li Качественный нетворкинг и клуб инвесторов для совместных инвестиций
                    li Инсайты и опыт через проживание различных сценариев
                    li Интеллектуальный драйв
                    li Новые механики переговоров, понимание своих точек ростаa
                    li Внушительный призовой фонд
            .block.tab(tab-name="4") 
                ul 
                    li Симулятор инвестора для поддержки своих навыков переговорщика и инвестора в тонусе
                    li Тренировка с новыми инструментами без риска
                    li Поиск альтернативных инвест. стратегий
                    li Качественный нетворкинг и клуб инвесторов для совместных инвестиций
                    li Инсайты и опыт через проживание различных сценариев
                    li Интеллектуальный драйв
                    li Новые механики переговоров, понимание своих точек ростаa
                    li Внушительный призовой фонд
            .block.tab(tab-name="5") 
                ul 
                    li Симулятор инвестора для поддержки своих навыков переговорщика и инвестора в тонусе
                    li Тренировка с новыми инструментами без риска
                    li Поиск альтернативных инвест. стратегий
                    li Качественный нетворкинг и клуб инвесторов для совместных инвестиций
                    li Инсайты и опыт через проживание различных сценариев
                    li Интеллектуальный драйв
                    li Новые механики переговоров, понимание своих точек ростаa
                    li Внушительный призовой фонд
            .block.tab(tab-name="6") 
                ul 
                    li Симулятор инвестора для поддержки своих навыков переговорщика и инвестора в тонусе
                    li Тренировка с новыми инструментами без риска
                    li Поиск альтернативных инвест. стратегий
                    li Качественный нетворкинг и клуб инвесторов для совместных инвестиций
                    li Инсайты и опыт через проживание различных сценариев
                    li Интеллектуальный драйв
                    li Новые механики переговоров, понимание своих точек ростаa
                    li Внушительный призовой фонд
                    
                    
                    
                    