section.federal-championship 
    .container 
        .content
            h2 Федеральный чемпионат "Деньги 1.0" - Это
            .descr
                p Реалити-игра с главным призом 1 000 000 $
                p Игра охватит 85 регионов и пройдет в формате серии онлайн и офлайн мероприятий под руководством профессиональных ведущих
                p Цель игры: прокачать предпринимательское мышление и изучить финансовое поведение.
                p Наша миссия: предоставить каждому человеку доступный, интересный игровой инструмент для трансформации мышления и финансового поведения, а также улучшить его благосостояние.
        a(href="").btn.learn-more.btn-bg Узнать больше