footer 
    .container 
        .main 
            .logo 
                a(href="index.html") 
                    img(src="../assets/images/logo.png", alt="")
                .social 
                    a.vk(href="https://vk.com/")
                    a.facebook(href="https://www.facebook.com/")
                    a.instagram(href="https://www.instagram.com/") 
                    a.youtube(href="https://www.youtube.com/")
                    a.telegram(href="https://telegram.org/")
            .menu 
                a(href="") Чемпионат
                a(href="") Корпоративные игры
                a(href="") Рейтинг
                a(href="") Партнерам
                a(href="") Призы
                a(href="") Представителям
                a(href="reviews.html") Отзывы
                a(href="") Контакты
            .btns 
                .btn.btn-bg Принять участие
                .btn Личный кабинет
        .bottom 
            .contacts 
                a(href="tel:+71234567890").phone +7 (123) 456-78-90
                a(href="").location Москва
            .info 
                a(href="").policy Политика конфиденциальности
                a(href="") Пользовательское соглашение  