section.gallary 
    .container 
        h2 фотогалерея
        .owl-carousel.carousel-images.images
            .carousel-item 
                .img.plug
            .carousel-item 
                .img.plug
            .carousel-item 
                .img.plug
            .carousel-item 
                .img.plug