section.main-block 
    .container 
        h1 деньги 1.0
        h2 Федеральный чемпионат по предпринимательскому мышлению, инвестированию и финансовой грамотности
        .play-video 
            button.btn 
            .text 
                a(href="") О чемпионате
                a.see-video(href="") Смотреть видео