section.more-features 
    .container 
        img(src="../assets/images/currency.png", alt="")
        .descr 
            h2 получи <span>больше</span> возможностей вместе с инвестиционным клубом <span>"деньги""</span>
            ul 
                li Инвестиционные разборы от успешных инвесторов и брокеров
                li Подборки лакомых инвестиционных предложений с оценкой независимых экспертов
                li Закрытые тематические встречи
                li Startup boom - презентация стартапов с оценкой независимых экспертов
                li Co-investment Shake - встречи и знакомство для развития совместных инвестиций
                li Инвестиционные туры
            .btns
                .btn.btn-bg Хочу в клуб
                .btn Узнать больше