section.rating 
    .container 
        h2 рейтинг игроков
        p.numbers 1/000/888
        .table 
            .table-titles
                .table-title.num
                .table-title.name имя/никнейм
                .table-title.city город
                .table-title.scores баллы
            .row 
                .num 1.
                .name Алексей
                .city Москва
                .scores 32.000
            .row 
                .num 2.
                .name Алексей
                .city Москва
                .scores 32.000
            .row 
                .num 3.
                .name Алексей
                .city Москва
                .scores 32.000
        a(href="").btn.btn-learn-more Посмотреть все
