section.special-guest 
    .container 
        img(src="../assets/images/cubes.png", alt="")
        .descr 
            h3 Специальный гость чемпионата
            p В рамках супер-финала Чемпионата в Москве планируется пригласить на встречу с участниками Роберта Кийосаки. Предпринимателя, инвестора, автора книги о личных финансах &#171Богатый папа, бедный папа&#187 и основателя The Rich Dad Company.
            .social 
                p не пропусти, подписывайся на наши соц. сети
                .social-icons 
                    a.vk(href="https://vk.com/")
                    a.facebook(href="https://www.facebook.com/")
                    a.instagram(href="https://www.instagram.com/") 
                    a.youtube(href="https://www.youtube.com/")
                    a.telegram(href="https://telegram.org/")
