section.special-offers
    .container 
        h2 специальные предложения от партнеров чемпионата
        .owl-carousel.carousel-offers
            .carousel-item(id="slide1")
                .offer.plug