section.subscription 
    .container 
        h2 будь в курсе предстоящих событий
        form(action="")
            input(type="mail" placeholder="Введите Ваш e-mail") 
            a(href="").btn.btn-bg Получить анонс событий