section.upcoming-games 
    .container 
        h2 Предстоящие игры
        .navigation
            .btns
                a(href="").btn.btn-bg Онлайн
                a(href="").btn Офлайн 
            .filter 
                a(href="") Фильтр городов 
        .games 
            .game 
                .img
                    img(src="../assets/images/NizhniNovgorod.jpg", alt="")
                .descr 
                    h3 нижний новгород
                    p Время: 15:00-18:00
                    p Свободно мест: 5
                    a(href="").btn.btn-bg Принять участие 
            .game 
                .img
                    img(src="../assets/images/NizhniNovgorod.jpg", alt="")
                .descr 
                    h3 нижний новгород
                    p Время: 15:00-18:00
                    p Свободно мест: 5
                    a(href="").btn.btn-bg Принять участие 
            .game 
                .img
                    img(src="../assets/images/NizhniNovgorod.jpg", alt="")
                .descr 
                    h3 нижний новгород
                    p Время: 15:00-18:00
                    p Свободно мест: 5
                    a(href="").btn.btn-bg Принять участие 
        a(href="").btn.btn-learn-more Увидеть все
