section.upcoming-games 
    .container 
        h2 Предстоящие игры
        .navigation
            .btns.btn__switch__wrapper__games
                button.btn__tab__switch__games.btn.active(target="online") Онлайн
                button.btn__tab__switch__games.btn(target="offline") Офлайн 
            .filter 
                a(href="") Фильтр городов 
        .games.tab__viewer__games
            .tab-games.active(tab-name="online") 
                .game 
                    .img
                        img(src="../assets/images/NizhniNovgorod.jpg", alt="")
                    .descr 
                        h3 нижний новгород
                        p Время: 15:00-18:00
                        p Свободно мест: 5
                        a(href="").btn.btn-bg Принять участие 
                .game 
                    .img
                        img(src="../assets/images/NizhniNovgorod.jpg", alt="")
                    .descr 
                        h3 нижний новгород
                        p Время: 15:00-18:00
                        p Свободно мест: 5
                        a(href="").btn.btn-bg Принять участие 
                .game 
                    .img
                        img(src="../assets/images/NizhniNovgorod.jpg", alt="")
                    .descr 
                        h3 нижний новгород
                        p Время: 15:00-18:00
                        p Свободно мест: 5
                        a(href="").btn.btn-bg Принять участие 
            .tab-games(tab-name="offline") 
                .game 
                    .img
                        img(src="../assets/images/NizhniNovgorod.jpg", alt="")
                    .descr 
                        h3 нижний новгород
                        p Время: 15:00-18:00
                        p Свободно мест: 5
                        a(href="").btn.btn-bg Принять участие 
                .game 
                    .img
                        img(src="../assets/images/NizhniNovgorod.jpg", alt="")
                    .descr 
                        h3 нижний новгород
                        p Время: 15:00-18:00
                        p Свободно мест: 5
                        a(href="").btn.btn-bg Принять участие 
                .game 
                    .img
                        img(src="../assets/images/NizhniNovgorod.jpg", alt="")
                    .descr 
                        h3 нижний новгород
                        p Время: 15:00-18:00
                        p Свободно мест: 5
                        a(href="").btn.btn-bg Принять участие 
        a(href="").btn.btn-learn-more Увидеть все
