body
{
    margin: 0;
    color: #000;
    background: #ececec;
    font-family: "Raleway";
}

body.lock
{
    overflow: hidden;
}

*, ::after, ::before 
{
    box-sizing: border-box;
}

a
{
    color: inherit;
    text-decoration: none;
    word-break: break-all;
}

button, input, select
{
    outline: none;
}

button, a, .btn
{
    cursor: pointer;
}

.btn{
    /*width: 220px;
    height: 55px;*/
    border: 2px solid #55d94a;
    text-align: center;
    padding: 10px;
    font-size: 22px;
}

.btn:hover{
    background: linear-gradient(#84e17c, #55d94a);
    border: none;
    padding: 12px;
    color: white;
}

.btn.btn-bg{
    background: linear-gradient(#84e17c, #55d94a);
    border: none;
    padding: 12px;
    color: white;
}

header{
    color: #ececec;
    padding-top: 60px;
    position: absolute;
    width: 100%;

    .container{
        display: flex;
        flex-direction: column;
    }

    .contacts{
        display: flex;
        justify-content: flex-end;

        .phone{
            position: relative;
            padding-left: 30px;
            font-size: 23px;
            padding-bottom: 7px;
        }

        .phone::before{
            content: "";
            width: 20px;
            height: 20px;
            background-image: url(../images/icons/phone.png);
            position: absolute;
            left: 0;
            vertical-align: middle;
            top: 9px;
        }

        .phone:hover{
            border-bottom: 2px solid #55d94a;
            padding-bottom: 5px;
        }

        .social{
            display: flex;
            margin-left: 30px;

            .vk, .facebook, .instagram, .youtube, .telegram{
                width: 23px;
                height: 23px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                margin-left: 20px;
                filter: invert(100%);
            }

            .vk{
                background-image: url(../images/icons/vk-social-network-logo.png);
            }

            .facebook{
                background-image: url(../images/icons/facebook-app-symbol.png);
            }

            .instagram{
                background-image: url(../images/icons/instagram.png);
            }

            .youtube{
                background-image: url(../images/icons/youtube.png);
            }

            .telegram{
                background-image: url(../images/icons/telegram.png);
            }
        }
    }

    .menu{
        display: flex;
        align-items: center;
        justify-content: space-between;

        .menu-btn{
            width: 23px;
            height: 23px;
            background-image: url(../images/icons/menu-btn.png);
            border: none;
            cursor: pointer;
        }

        .nav{
            display: flex;

            a{
                margin-left: 15px;
                margin-right: 15px;
                font-size: 22px;
            }
        }

        .btns{
            display: flex;

            .btn{
                width: 220px;
                height: 55px;
            }

            .personal-account{
                margin-left: 20px;
            }
        }
    }
}

.main-block{
    background: url(../images/backgrounds/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding-bottom: 200px;

    .container{
        display: flex;
        flex-direction: column;
        padding-top: 390px;
        color: white;

        h1{
            font-size: 118px;
            margin: 0;
            font-weight: 400;
            position: relative;
            padding-bottom: 30px;
            font-family: "Micra";
        }

        h1:before{
            content: "";
            background: #55d94a;
            height: 10px;
            width: 625px;
            position: absolute;
            bottom: 0;
        }

        h2{
            margin: 0;
            font-size: 34px;
            font-weight: 300;
            margin-top: 40px;
            width: 65%;
        }

        .play-video{
            display: flex;
            margin-top: 70px;
            align-items: center;

            .btn{
                width: 150px;
                height: 150px;
                background: none;
                background-image: url(../images/icons/play.png);
                border: none;
            }

            .text{
                display: flex;
                flex-direction: column;
                font-size: 22px;
                text-align: center;
                font-weight: 300;
                margin-left: 20px;
                text-align: left;

                .see-video{
                    font-size: 18px;
                    color: #55d94a;
                    font-weight: 500;
                    border-top: 2px solid #55d94a;
                }
            }
        }
    }
}

.running-line{
    font-size: 50px;
    font-family: "Micra";
    padding-top: 120px;
    padding-bottom: 120px;
    text-transform: uppercase;
}

.federal-championship{

    .content{
        background-image: url(../images/backgrounds/federalChempionship-background.png);
        background-repeat: no-repeat;
        background-position: right;
        padding-right: 30%;
    }

    h2{
        font-family: "Micra";
        font-size: 44px;
        position: relative;
        padding-bottom: 20px;
        margin: 0;
        font-weight: 400;
    }

    h2:before{
        content: "";
        background: #55d94a;
        height: 6px;
        width: 250px;
        position: absolute;
        bottom: 0;
    }

    .descr{
        font-size: 22px;
        padding-bottom: 70px;
        padding-top: 60px;

        p{
            margin: 0;
            padding-bottom: 50px;
            font-weight: 300;
        }
    }

    .learn-more{
        padding-left: 70px;
        padding-right: 70px;
        color: white;
    }
}

.expanding{
    padding-top: 150px;
    padding-bottom: 40px;

    h2{
        font-size: 44px;
        font-family: "Micra";
        margin-bottom: 0;
        font-weight: 400;
    }

    .numbers{
        font-family: "Micra";
        font-size: 22px;
        color: #55d94a;
        margin-top: 30px;
        margin-bottom: 0;
        font-weight: 400;
    }

    .nav-expanding{
        display: flex;
        justify-content: space-between;
        margin-top: 80px;

        button{
            border: none;
            word-break: break-word;
            font-size: 24px;
            border-bottom: 2px solid #55d94a;
            font-weight: 600;
            padding: 5px 15px;
            display: flex;
            align-items: center;
        }

        button:hover{
            background: linear-gradient(#84e17c, #55d94a);
            color: white;
        }

        button.active{
            background: linear-gradient(#84e17c, #55d94a);
            color: white;
        }
    }

    .blocks{
        margin-top: 40px;
        .block{
            background: white;
            padding: 90px 70px;
            ul{
                display: flex;
                flex-wrap: wrap;
                list-style: none;

                li{
                    width: 50%;
                    margin-bottom: 20px;
                    font-size: 24px;
                    padding: 10px;
                    font-weight: 500;
                    position: relative;
                    padding-left: 35px;
                }

                li::before{
                    content: "";
                    width: 25px;
                    height: 3px;
                    background: #55d94a;
                    position: absolute;
                    top: 23px;
                    left: 0;
                }
            }
        }
    }
}

.upcoming-games{
    padding-top: 150px;
    padding-bottom: 130px;

    .container{
        display: flex;
        flex-direction: column;
    }

    h2{
        font-size: 44px;
        font-family: "Micra";
        position: relative;
        padding-bottom: 30px;
        margin: 0;
        font-weight: 400;
    }

    h2:before{
        content: "";
        background: #55d94a;
        height: 6px;
        width: 250px;
        position: absolute;
        bottom: 0;
    }

    .navigation{
        margin-top: 50px;
        display: flex;
        justify-content: space-between;
        padding-bottom: 10px;

        .btns{
            .btn{
                margin-right: 70px;
                padding: 20px 70px;
            }

            .btn.active{
                background: linear-gradient(#84e17c, #55d94a);
                border: none;
                color: white;
            }
        }

        .filter{
            font-size: 27px;
            position: relative;
            padding-bottom: 10px;
        }

        .filter:before{
            content: "";
            width: 210px;
            height: 3px;
            background: #55d94a;
            position: absolute;
            bottom: 0;
            left: 0;
        }
    }

    .games{
        display: flex;
        flex-direction: column;

        .game{
            display: flex;
            margin-top: 140px;

            .img{
                border: 3px solid #55d94a;
                width: fit-content;
                height: auto;
                margin-left: 15px;
            }

            img{
                transform: translate(-15px, -15px);
            }

            .descr{
                width: 50%;
                padding-left: 50px;

                h3{
                    font-size: 47px;
                    font-family: "Micra";
                    font-weight: 400;
                    margin: 0;
                    margin-bottom: 70px
                }

                p{
                    font-size: 40px;
                    margin-bottom: 50px;
                    font-weight: 400;
                }
            }
        }
    }

    .btn-learn-more{
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        margin-top: 120px;
    }
}

.special-guest{
    background: black;
    color: white;
    padding-bottom: 200px;

    .container{
        display: flex;
        justify-content: space-around;
    }

    img{
        width: 40%;
    }

    .descr{
        width: 45%;
        padding-top: 190px;

        h3{
            font-size: 45px;
            font-family: "Micra";
            color: #55d94a;
            margin: 0;
            font-weight: 400;
        }

        p{
            font-size: 25px;
            font-weight: 500;
            margin: 0;
            margin-top: 40px;
        }

        .social{
            display: flex;
            flex-direction: column;
            width: 60%;
            margin-top: 140px;

            p{
                font-size: 19px;
                color: #55d94a;
                font-family: "Micra";
                margin: 0;
                font-weight: 400;
            }
        }

        .social-icons{
            display: flex;
            margin-top: 40px;

            .vk, .facebook, .instagram, .youtube, .telegram{
                width: 23px;
                height: 23px;
                background-repeat: no-repeat;
                background-size: contain;
                background-position: center;
                margin-right: 20px;
                filter: invert(1);
            }

            .vk{
                background-image: url(../images/icons/vk-social-network-logo.png);
            }

            .facebook{
                background-image: url(../images/icons/facebook-app-symbol.png);
            }

            .instagram{
                background-image: url(../images/icons/instagram.png);
            }

            .youtube{
                background-image: url(../images/icons/youtube.png);
            }

            .telegram{
                background-image: url(../images/icons/telegram.png);
            }
        }
    }
}

.rating{
    padding-top: 190px;
    padding-bottom: 120px;

    .container{
        display: flex;
        flex-direction: column;
    }

    h2{
        font-size: 45px;
        font-family: "Micra";
        margin: 0;
        font-weight: 400;
    }

    .numbers{
        font-family: "Micra";
        font-size: 22px;
        color: #55d94a;
        margin: 0;
        margin-top: 40px;
        font-weight: 400;
    }

    .table{
        display: flex;
        flex-direction: column;
        margin-top: 140px;

        .name{
            text-align: left;
        }

        .city{
            text-align: center;
        }

        .scores{
            text-align: right;
        }

        .table-titles{
            display: flex;
            justify-content: space-between;

            .table-title{
                font-size: 30px;
                font-weight: 300;
                width: 30%;
            }

            .num{
                width: 10%;
            }

            .scores{
                padding-right: 30px;
            }
        }

        .row{
            display: flex;
            justify-content: space-between;
            margin-top: 70px;

            div{
                width: 30%;
                font-size: 45px;
                font-weight: 600;
            }

            .num{
                width: 10%;
            }
        }
    }

    .btn-learn-more{
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        margin-top: 120px;
    }
}

.gallary{
    padding-bottom: 200px;

    h2{
        font-size: 44px;
        font-family: "Micra";
        position: relative;
        padding-bottom: 30px;
        margin: 0;
        font-weight: 400;
    }

    h2:before{
        content: "";
        background: #55d94a;
        height: 6px;
        width: 250px;
        position: absolute;
        bottom: 0;
    }

    .images{
        margin-top: 100px;
        display: flex;
        justify-content: space-between;

        .img{
            width: 330px;
            height: 180px;
            background: #84e17c;
        }
    }
}

.history{
    padding-top: 50px;
    padding-bottom: 190px;
    position: relative;
    
    .container{
        display: flex;
        flex-direction: column;
    }

    h2{
        font-size: 44px;
        font-family: "Micra";
        width: 70%;
        margin: 0;
        font-weight: 400;
    }

    .numbers{
        font-family: "Micra";
        font-size: 22px;
        color: #55d94a;
        margin: 0;
        margin-top: 50px;
        font-weight: 400;
    }

    .carousel-history{
        margin-top: 80px;

        .carousel-item{
            display: flex;

            .img{
                width: 50%;
                background: #dadada;
                height: 500px;
                display: flex;
                position: relative;

                img{
                    width: 400px;
                    height: 500px;
                    margin-left: auto;
                    margin-right: auto;
                }

                .play{
                    position: absolute;
                    bottom: 40px;
                    right: 50px;
                    width: 75px;
                    height: 75px;
                    border: none;
                    background: none;
                    background-image: url(../images/icons/playSmall.png);
                }
            }

            .descr{
                width: 50%;
                padding-left: 60px;

                h3{
                    font-size: 55px;
                    margin: 0;
                    font-weight: 600;
                }

                h4{
                    font-size: 36px;
                    color:#55d94a;
                    margin: 0;
                    margin-top: 30px;
                    font-weight: 300;
                }

                p{
                    font-size: 27px;
                    margin: 0;
                    margin-top: 30px;
                }
            }
        }
    }

    .btn-prev.btn-carousel-history{
        position: absolute;
        top: 50%;
        left: 50px;
        transform: rotate(180deg);
    }

    .btn-next.btn-carousel-history{
        position: absolute;
        top: 50%;
        right: 50px;
    }

    .btn-carousel-history{
        background: none;
        border: none;
        background-image: url(../images/icons/next.png);
        width: 50px;
        height: 50px;
        background-repeat: no-repeat;
        background-position: center;
    }

    .btn-learn-more{
        margin-left: auto;
        margin-right: auto;
        font-size: 24px;
        margin-top: 90px;
    }
}

.special-offers{
    padding-bottom: 260px;

    h2{
        font-size: 44px;
        font-family: "Micra";
        position: relative;
        padding-bottom: 40px;
        margin: 0;
        width: 70%;
        font-weight: 400;
    }

    h2:before{
        content: "";
        background: #55d94a;
        height: 6px;
        width: 250px;
        position: absolute;
        bottom: 0;
    }

    .carousel-offers{
        margin-top: 70px;
    }

    .offer{
        width: 500px;
        height: 260px;
        background: gray;
    }
}

.subscription{
    background: #000;
    padding-top: 160px;
    padding-bottom: 100px;

    h2{
        font-size: 44px;
        font-family: "Micra";
        color: white;
        width: 70%;
        margin: 0;
        font-weight: 400;
    }

    form{
        display: flex;
        flex-direction: column;
        margin-top: 50px;

        input{
            width: 50%;
            font-size: 31px;
            padding: 20px 50px;
            background: #000;
            border: 1px solid #55d94a;
            color: white;
        }

        .btn.btn-bg{
            width: fit-content;
            color: black;
            margin-top: 50px;
            font-size: 24px;
            font-weight: 600;
            padding: 20px 50px;
            height: auto;
        }
    }
}

footer{
    background: #000;
    color: white;
    padding-top: 100px;
    padding-bottom: 200px;

    .container{
        display: flex;
        flex-direction: column;
    }

    .main{
        display: flex;
        justify-content: space-between;
    }

    .logo{
        display: flex;
        flex-direction: column;
    }

    .menu{
        display: flex;
        flex-wrap: wrap;
        justify-content: end;

        a{
            font-size: 24px;
            width: 40%;
        }
    }

    .btns{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        font-weight: 500;

        .btn-bg{
            color: black;
        }
    }

    .social{
        display: flex;
        margin-top: 20px;

        .vk, .facebook, .instagram, .youtube, .telegram{
            width: 23px;
            height: 23px;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            margin-left: 20px;
            filter: invert(100%);
        }

        .vk{
            background-image: url(../images/icons/vk-social-network-logo.png);
        }

        .facebook{
            background-image: url(../images/icons/facebook-app-symbol.png);
        }

        .instagram{
            background-image: url(../images/icons/instagram.png);
        }

        .youtube{
            background-image: url(../images/icons/youtube.png);
        }

        .telegram{
            background-image: url(../images/icons/telegram.png);
        }
    }

    .bottom{
        display: flex;
        justify-content: space-between;
        margin-top: 150px;

        .contacts{
            .phone{
                font-size: 19px;
                position: relative;
                padding-left: 30px;
            }

            .phone::before{
                content: "";
                width: 20px;
                height: 20px;
                background-image: url(../images/icons/phone.png);
                background-repeat: no-repeat;
                position: absolute;
                top: 4px;
                left: 0;
            }

            .location{
                font-size: 19px;
                position: relative;
                padding-left: 30px;
                margin-left: 50px;
            }

            .location::before{
                content: "";
                width: 17px;
                height: 23px;
                background-image: url(../images/icons/location.png);
                background-repeat: no-repeat;
                position: absolute;
                top: 2px;
                left: 0;
            }
        }

        .info{
            a{
                font-size: 14px;
                color: #55d94a;
                margin-left: 50px;
            }

            .policy{
                position: relative;
                padding-left: 30px;
            }

            .policy::before{
                content: "";
                width: 23px;
                height: 23px;
                background-image: url(../images/icons/policy.png);
                background-repeat: no-repeat;
                position: absolute;
                top: -2px;
                left: 0;
            }
        }
    }
}

@import 'responce';